fastapi
uvicorn[standard]
gmqtt
pydantic
pydantic-settings
sqlalchemy[asyncio]
aiosqlite
aioredis
websockets
asyncio
paho-mqtt
numpy
torch
langgraph
langchain
langchain-core
langchain-openai
langchain-anthropic
